// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

&i2c0 {
    sgp41sensor: sgp41sensor@59 {
        compatible = "i2c-device";
        reg = < 0x59 >;
        label = "SGP41";  
    };

    bmm350@14 {
        compatible="bosch,bmm350";
        reg = < 0x14 >;
        label = "BMM350";
    };

    dps368sensor: dps368sensor@77 {
        compatible = "i2c-device";
        reg = < 0x77 >;
        label = "DPS368";  
    };

    bmi323sensor: bmi323sensor@68 {
        compatible = "i2c-device";
        reg = < 0x68 >;
        label = "BMI323";  
    };

    sht41sensor: sht41sensor@44 {
        compatible = "i2c-device";
        reg = < 0x44 >;
        label = "SHT41";  
    };

    bmp585sensor: bmp585sensor@47 {
        compatible = "i2c-device";
        reg = < 0x47 >;
        label = "BMP585";  
    };

    bme690sensor: bme690sensor@76 {
        compatible = "i2c-device";
        reg = < 0x76 >;
        label = "BME690";  
    };
};